<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="/FLRV-CH/local/public/assets/baiviet/he.css">
    <script>

        // function HienCMT($elm) {
        //     $elm.classList.add("hien");
        //     $elm.classList.remove("an");
        //   }
        $(document).ready(function () {
            $(".boc").click(function () {
                $box = $(this).parents(".card").find('.comment');
                if ($($box).css('display') == "none") { $box.addClass('hien').removeClass('an'); return; }
                else { $box.addClass('an').removeClass('hien'); return; }
                //alert($($box).css('display'));


            });
            $(".card-body img").click(function () {

                $("#model-img").attr('src', $(this).attr('src'));
            });
            $(window).scroll(function () {
                var oldva = 0;
                var pos_body = $("html,body").scrollTop();
                if (pos_body > 1200) {
                    $('.back-to-top').addClass('hien-ra');

                }
                else {
                    $('.back-to-top').removeClass('hien-ra');

                }

            });
            $('.back-to-top').click(function (event) {
                $('html,body').animate({ scrollTop: 0 }, 1400);
            });
        });

    </script>

</head>

<body>
    <nav id="mn" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul style="margin-right: 200px;" class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item active">
                    <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
                </li>
                <li class="nav-item my-2 my-lg-0">
                    <!-- <button id="helo" type="button" class="btn btn-outline-primary dropdown-item">Hello</button> -->
                    <!-- <a class="nav-link" href="#">Link</a> -->
                </li>

            </ul>
            <form class="form-inline mr-auto  my-2 ">
                <!-- my-lg-0 -->
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul style="float: right;padding-right: 100px;" class="navbar-nav .mx-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" data-target="#logout"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div id="logout" class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="account/logout"><i class="fas fa-door-open"></i>logout</a>

                    </div>
                </li>

            </ul>
        </div>
    </nav>
    <!--model img-->
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
  Launch
</button> -->

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" style="width: 1300px;" aria-labelledby="modelTitleId" aria-hidden="true">
        <div style="max-width: 1000px;;" class="modal-dialog" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="max-width: 1000px;padding:0 0 0 0;" class="modal-body">
                    <img id="model-img" style="width: 100%;height: 450px;;" src="" alt="xx" srcset="">
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div> -->
            </div>
        </div>
    </div>
    <!--End model img-->

    <div class="row">
        <div class="col-md-2 column-1">

        </div>
        <div class="col-md-5 column-2">
            <br><br><br><br>
            <div class="card">
                <div class="card-header">
                    <a style="font-size: 25px;font-family: Verdana, Geneva, Tahoma, sans-serif;text-decoration: none;color: black;"
                        href="#"><img style="width: 60px;height: 60px;;border-radius: 100%;"
                            src="/FLRV-CH/local/public/assets/img/intro/1.jpg" alt="">nhanpro</a>
                </div>
                <div style="padding: 0 0 0 0;" class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                    <img data-toggle="modal" data-target="#modelId"
                        src="/FLRV-CH/local/public/assets/img/newi/abc0.jpeg" alt="">
                </div>
                <div class="card-footer text-muted">
                    <div class="btn-group">
                        <button style="position: relative;" type="button" class="btn btn-outline-danger btn-block"><i style="font-size: 30px;"
                                class="far fa-thumbs-up"></i></button><span class="badge">3</span>
                        <button id="cmt" type="button" class="btn btn-outline-primary boc"><i style="font-size: 30px;"
                                class="far fa-comment-dots"></i></button>

                    </div>

                </div>
                <div id="comment" class="card-footer text-muted comment an">
                    <div class="container">
                        <a href="#"><img src="/FLRV-CH/local/public/assets/img/intro/12.jpg" alt="Avatar"></a>
                        <p>Hello. How are you today?</p>
                        <span class="time-right">11:00</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a style="font-size: 25px;font-family: Verdana, Geneva, Tahoma, sans-serif;text-decoration: none;color: black;"
                        href="#"><img style="width: 60px;height: 60px;;border-radius: 100%;"
                            src="/FLRV-CH/local/public/assets/img/intro/1.jpg" alt="">nhanpro</a>
                </div>
                <div style="padding: 0 0 0 0;" class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                    <img data-toggle="modal" data-target="#modelId"
                        src="/FLRV-CH/local/public/assets/img/newi/abc0.jpeg" alt="">
                </div>
                <div class="card-footer text-muted">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-danger btn-block"><i style="font-size: 30px;"
                                class="far fa-thumbs-up"></i></button>
                        <button id="cmt" type="button" class="btn btn-outline-primary boc"><i style="font-size: 30px;"
                                class="far fa-comment-dots"></i></button>

                    </div>

                </div>
                <div id="comment" class="card-footer text-muted comment an">
                    <div class="container">
                        <a href="#"><img src="/FLRV-CH/local/public/assets/img/intro/12.jpg" alt="Avatar"></a>
                        <p>Hello. How are you today?</p>
                        <span class="time-right">11:00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 column-3">

        </div>

    </div>
    <div class="back-to-top">
        <i class="fas fa-chevron-circle-up"></i>
    </div>

</body>

</html>
